/*---Footer---*/
footer {
  .footerSection {
    background-image: url(../img/footer.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto;
    border-top: 4px solid nth($colores, 1);
    .calificacion {
      display: flex;
      flex-direction: column;
      img {
        margin: 20px;
        padding: 5px;
        width: 100px;
        height: 100px;
        background-color: nth($colores, 2);
        border: 2px solid nth($colores, 1);
        border-radius: 20px;
      }
    }
    .social {
      margin-right: 100px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      a {
        img {
          margin: 20px;
          padding: 5px;
          width: 100px;
          height: 100px;
          background-color: nth($colores, 2);
          border: 2px solid nth($colores, 1);
          border-radius: 20px;
        }
      }
    }
    .newsletter {
      margin: 20px 10px 0px 10px;
      padding: 30px;
      height: fit-content;
      font-family: "Cinzel", serif;
      background-color: nth($colores, 2);
      border: 2px solid nth($colores, 1);
      border-radius: 20px;
    }
  }
}
